body {
    background-image: url('./images/pexels-frank-cone-2291873.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}
.navbar p {
    color: white;
    font-size: 50px;
}


.navbar {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto;
    position: relative;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.navbar ul li::after {
    content: "";
    background-color: bisque;
    width: 0;
    height: 4px;
    bottom: -10px;
    left: 0;
    position: absolute;
    transition: 0.8s;
}

.navbar ul li:hover::after {
    width: 100%;
}   

.arti {
    width: 100%;
    height: 400px;
}

h1 {
    font-size: 40px;
    padding-left: 7%;
    margin-top: 2%;
}
/*p {
    font-size: 20px;
    padding-left: 7%;
    margin-top: 2%;
}*/
.first::after {
    content: " ";
    clear: both;
    padding: 5px;
    display: table;
}
.first1 {
    float: right;
    float: left;
    padding: 60px;
    margin-top: 0.5rem;
}
.first1 p {
    font-size: 20px;
   /* margin-top: 30%;*/
    margin-left: 7%;
}
.first2 img {
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 0%;
}
.second {
    font-size: 20px;
    margin-left:7%;
    margin-right: 7%;
    margin-top: 10%;
}
.third {
    font-size: 20px;
    margin-left: 7%;
}
.fourth {
    font-size: 20px;
    margin-left:7%;
    margin-right: 7%;
}
input {
    height: 50px;
    width: 1000px;
    background-color: rgb(196,196,196);
    margin-top: 1%;
}
button {
    height: 50px;
    width: 180px;
    background-color: rgb(196,196,196);
    margin-top: 1%;
    font-size: 15px;
}